.root {
  border-radius: 41px;
  background-color: white;
  border: 1px solid #ced4da;
  overflow: hidden;
  padding: 0px 8px 0px 27px;
  display: flex;
  align-items: center;
  gap: 2px;

  @media (min-width: $mantine-breakpoint-lg) {
    gap: 8px;
  }
}

.input {
  border: unset;
  outline: unset !important;
  height: 53px;
  font-size: 14px;

  @media (min-width: $mantine-breakpoint-lg) {
    height: 67px;
    font-size: 20px;
  }
}

.icon {
  width: 41px;
  height: 41px;
  padding: 8px;

  @media (min-width: $mantine-breakpoint-lg) {
    width: 50px;
    height: 50px;
    padding: 0;
  }
}
