.banner {
  border-radius: 12px;
  padding: 16px 13px;
  color: white;
  margin-top: 10px;
}

.tabs {
  border-radius: 12px;
}

.tab {
  border-radius: 6px;
  height: 38px;
  padding: 0px 8px;
  width: 112px;
  cursor: pointer;
}

.tab > div {
  margin-top: 8px;
}

.tab > div > svg {
  fill: #9a9a9a;
  width: 22px;
  height: 22px;
}

.tabActive {
  background-color: #e5edf5;
}

.tabActive > div > svg {
  fill: var(--mantine-color-blue-filled);
}

.dogDetails {
  fill: var(--mantine-color-blue-filled);
  width: 40px;
  height: 34px;
}

.characteristic {
  border-radius: 26px;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  background-color: #c6c6c6;
}

.accordion {
  border-radius: 12px;
  border-bottom: unset;
  overflow: hidden;
  margin-bottom: 24px;
}

.chevron {
  color: var(--mantine-color-blue-filled);
  width: auto;
}

.control:hover {
  background-color: white;
}

.label {
  font-size: 16px;
  font-weight: 700;
  color: #737a81;
  margin-left: 0px;

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 20px;
    margin-left: 9px;
  }
}

.iconRight {
  height: 34px;
  width: 50px;
  height: 70px;
  margin: auto 0 auto auto;
  color: var(--mantine-color-blue-filled);
  cursor: pointer;
}

.smallCircle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.lifecycleInfo {
  background-color: #f2f2f2;
  border-radius: 11px;
  height: 44px;
  padding: 0px 16px;
  color: #737a81;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.slider {
  width: 100%;
}

.characteristicWrapper {
  overflow: auto;
  padding-bottom: 8px;
}

.accordionIcon {
  color: #737a81;
  fill: #737a81;
  width: 23px;
  height: 23px;

  @media (min-width: $mantine-breakpoint-lg) {
    width: 32px;
    height: 32px;
  }
}

.modalBody {
  padding: 0;
  width: 700px;
  max-width: 100%;
}

.pawPrintWrapper {
  background-color: white;
  border-radius: 20px;
  width: 67px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pawPrintWrapper > svg {
  fill: #d13030;
}

.submitButton {
  width: 256px;
  max-width: 90%;
  height: 52px;
  border-radius: 26px;
  background-color: #228be6;
}
