.root {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  height: 43px;
}

.button {
  border-radius: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $mantine-breakpoint-lg) {
    justify-content: center;
  }
}

.iconButton {
  display: none;

  @media (min-width: $mantine-breakpoint-lg) {
    display: flex;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  @media (min-width: $mantine-breakpoint-lg) {
    flex-direction: row;
  }
}

.whiteIcon {
  width: 22px;
  fill: white;
}

.selectInput {
  border-radius: 8px;
  border: 1px solid #ced4da;
  height: 41px;
}

.selectInput::placeholder {
  color: #737a81;
  font-size: 14px;
  font-weight: 600;
}
