.leftBox {
  border-radius: 12px 0px 0px 12px;
}

.leftIcon {
  width: 67px;
  transform: translate(-50%, -50%);
}

.leftIcon > svg {
  width: 22px;
  fill: #55bf52;
}

.rightBox {
  border-radius: 0px 12px 12px 0px;
}

.rightIcon {
  width: 67px;
  transform: translate(-50%, -50%);
  border: 1px solid white;

  @media (min-width: $mantine-breakpoint-lg) {
    border: unset;
  }
}

.rightIcon > svg {
  width: 26px;
  fill: white;
}

.select {
  height: 52px;
  width: 256px;
  max-width: 100%;
  margin: 30px auto;
  color: white;
  font-weight: 700;
  background-color: var(--mantine-color-blue-filled);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 26px;
  padding: 0px 30px;
  cursor: pointer;
}
