.leftBox {
  border-radius: 12px 12px 0px 0px;

  @media (min-width: $mantine-breakpoint-lg) {
    border-radius: 12px 0px 0px 12px;
  }
}

.leftIcon {
  width: 67px;
  transform: translate(-50%, -50%);
}

.leftIcon > svg {
  width: 22px;
  fill: #55bf52;
}

.rightBox {
  border-radius: 0px 0px 12px 12px;

  @media (min-width: $mantine-breakpoint-lg) {
    border-radius: 0px 12px 12px 0px;
  }
}

.rightIcon {
  width: 67px;
  transform: translate(-50%, -50%);
  border: 1px solid white;

  @media (min-width: $mantine-breakpoint-lg) {
    border: unset;
  }
}

.rightIcon > svg {
  width: 26px;
  fill: white;
}

.select {
  height: 52px;
  width: 265px;
  max-width: 100%;
  margin: 0 auto;
}

.downIcon {
  right: 10px;
}

.selectInput {
  height: 52px;
  max-width: 100%;
  margin: 30px auto;
  color: white;
  font-weight: 700;
  background-color: var(--mantine-color-blue-filled);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 26px;
  padding: 0px 30px;
  cursor: pointer;
}

.selectInput::placeholder {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.option {
  display: flex;
  justify-content: space-between;
  color: #228be6;
  font-weight: 700;
}

.option > svg {
  width: 18px;
  height: 18px;
  fill: #228be6;
}

.selectDropdown {
  border-radius: 11px;
  border: 1px solid #ced4da;
  background-color: white;
  padding: 18px;
}

.selectOption:not(:last-child) {
  margin-bottom: 18px;
  position: relative;
}

.selectOption:not(:last-child)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ced4da;
  left: 0;
  bottom: -9px;
}
