.root {
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: flex;
  align-items: center;
  height: 41px;
  padding: 0px 8px;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  background-color: white;
  color: #737a81;
  width: 100%;
  border-radius: 21px;
  font-weight: bold;
}

.notRoundButton {
  border-radius: 8px;
  gap: 12px;
  font-size: 20px;
}

.divider {
  height: 60%;
  width: 1px;
  background-color: #737a81;
}
